<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Workout show page</h1>
        Type: <%= workout.type %>  
    </br>
        Time: <%= workout.time %>
    </br>
        This workout was added by <%=workout.User.name%>
        
    <!-- <form action="/workouts/<%=workout.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE <%= workout.type %>" />
      </form> -->
    </body>
</html>  