<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>Welcome <%=user.name%></h1>
    <br />
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Weight:
      <input type="number" name="weight" value="<%=user.weight%>" /><br />
      <br />
      Age:
      <input type="number" name="age" value="<%=user.age%>" /><br />
      <br />
    </form>
    <br />
    <!-- Add edit link here  -->
    <a href="/users/profile/<%=user.id%>/userEdit"><button type="button">Edit Your info!</button></a>
   <br /><br />
    <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>
    <br />
    <h3>Workouts added by you:</h3>
    <% for (let i = 0; i < user.Workouts.length; i++){ %>
            <li>
               <a href="/workouts/<%=user.Workouts[i].id%>"><%=user.Workouts[i].name%></a>
            </li>
            <br>
    <% } %>
        <br><br>
    <a href="/">View User Homepage</a>
  </body>
</html>