<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/app3.css">
  </head>

  <body>
    <h1><%=user.name%>'s FlexBody Profile:</h1>
    <div class = "profile">
    <br />
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Weight:
      <input type="number" name="weight" value="<%=user.weight%>" /><br />
      <br />
      Age:
      <input type="number" name="age" value="<%=user.age%>" /><br />
      <br />
    </form>
    <br />
    <!-- Add edit link here  -->
    <a href="/users/profile/<%=user.id%>/userEdit"><button type="button">Edit Your info!</button></a>
   <br /><br />
    <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>
    </div>
    <br />
    <ul class="workout">
      <h3>Workouts you added:</h3>
      <% for(let i=0; i<user.Workouts.length; i++) { %>
        <br /><br />
          <li class="workout1">
              <a class="workout2" href="/workouts/<%=user.Workouts[i].id%>"> <%=user.Workouts[i].name%> </a>
          </br>
          Type: <%=user.Workouts[i].type%>
          </br>
          Time: <%=user.Workouts[i].time%> min.
          </br></br>
          <div class="multi-button">
          <!-- Add edit link here  -->
          <a href="/workouts/<%=user.Workouts[i].id%>/edit"><button>Edit</button></a>
          
          <!--  ADD DELETE FORM HERE-->
          <form action="/workouts/<%=user.Workouts[i].id%>?_method=DELETE" method="POST" id="delete">
          </form>
          <button type="submit" form="delete" value="DELETE">Delete</button>
          </div>
      </li>
      <% } %>
  </ul>
        <br><br>
        <div class="multi-button home">
          <a href="/"><button >Back to HomePage</button> </a>
          </div>
      
  </body>
</html>